/* 로그인 페이지 CSS */

#header {}
#main {}
#fooer {}

/* main_box */
.main_box {overflow: hidden;}

.left_box {float: left; width: 50%; height: 700px; background-color: #aaa;}
.right_box {float: left; width: 50%; height: 700px; background-color: #bbb;}
