/* 로그인 페이지 CSS */

/* background img */
body {background: url(../img/sign_bg.jpg) no-repeat center center fixed; background-size: cover;}

/* 레이아웃 */
#signUp {background-color: rgba(0, 0, 0, 0.6);}

.sign_container {width: 1200px; margin: auto;}

/* main_box */
.main_box {display: flex;  justify-content: center; align-items: center; min-height: 100vh;}

.sign_box {width: 30%;}
.sign_box .signUp_box {display: flex; align-items: center; justify-content: center; flex-direction: column;
    padding: 20px 5px; background-color: rgba(0, 0, 0, 0.5);}
.sign_box .signIn_box { font-size: 14px; text-align: center; padding: 20px 30px; margin-top: 30px; color: #fff;}
.sign_box .signUp_box h1 {font-size: 40px; padding: 20px 30px; text-transform: uppercase; font-family: 'Fredericka the Great', cursive;}
    .sign_box .signUp_box h1 em:nth-child(1) {color: #FFF8E1;}
    .sign_box .signUp_box h1 em:nth-child(2) {color: #FFECB3;}
    .sign_box .signUp_box h1 em:nth-child(3) {color: #FFE082;}
    .sign_box .signUp_box h1 em:nth-child(4) {color: #FFD54F;}
    .sign_box .signUp_box h1 em:nth-child(5) {color: #FFCA28;}
    .sign_box .signUp_box h1 em:nth-child(6) {color: #FFC107;}
    .sign_box .signUp_box h1 em:nth-child(7) {color: #FFB300;}
.sign_box .signUp_box input {margin-bottom: 5px;}
.sign_box .signUp_box .form_design {width: 70%; padding: 5px; font-size: 14px; margin-left: 15%; box-sizing: border-box; border-radius: 5px; border: 0;}
.sign_box .signUp_box label {color: #fff; width: 70%; margin: 0 0 1px 15%; display: inline-block;}
.sign_box .signUp_box .sex_label {margin-left: 3%; display: inline;}
.sign_box .signUp_box .form_radio {width: auto; margin-top: 10px}
.sign_box .signUp_box button {margin: 20px 0; font-weight: bolder; background-color: #ddd; transition: background-color .25s ease;}
.sign_box .signUp_box button:hover {background-color: #FFC107; color: #fff; cursor: pointer;}
.sign_box .signUp_box p {text-align: center; color: #fff;}
.sign_box .signIn_box p a {margin-left: 10px; color: #fff; font-weight: bolder; transition: color .3s ease;}
.sign_box .signIn_box p a:hover {color: #FFC107;}

/* MediaQuery */

/* 화면너비 0 ~1220px */
@media (max-width: 1220px){
    .sign_container {width: 100%;}
    .sign_box {width: 360px}
}

/* 화면너비 0 ~ 400px */
@media (max-width: 400px){
    .main_box {width: 100%;}
}